{% extends "tool.html" %}
{% block form_fields %}
<div class="field">
  <label for="host">{{ t(lang, 'tool.ping.host_label') }}</label>
  <input type="text" id="host" name="host" placeholder="google.com" required>
</div>
<div class="field">
  <label for="count">{{ t(lang, 'tool.ping.count_label') }}</label>
  <input type="number" id="count" name="count" min="1" max="10" value="{{ default_count }}" required>
</div>
{% endblock %}
{% block about %}
<p>{{ t(lang, 'tool.ping.about') }}</p>
{% endblock %}
