{% extends "tool.html" %}
{% block form_fields %}
<div class="field">
  <label for="host">{{ t(lang, 'tool.ssl.host_label') }}</label>
  <input type="text" id="host" name="host" placeholder="example.com" required>
</div>
<div class="field">
  <label for="port">{{ t(lang, 'tool.ssl.port_label') }}</label>
  <input type="number" id="port" name="port" min="1" max="65535" value="{{ default_port }}" required>
</div>
{% endblock %}
{% block about %}
<p>{{ t(lang, 'tool.ssl.about') }}</p>
{% endblock %}
